# just note here. Configured in vhost.conf
#RewriteEngine On
#RewriteRule ^(\w+)$ index.php?t=$1 [L]

#RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#RewriteRule ^ http%{ENV:protossl}://%1%{REQUEST_URI} [L,R=301]
