#bars{
	top: 0.8rem;
	right: 0.9rem;
	cursor: pointer;
}
#navul{
	overflow: hidden;
	transition: height .5s;
}
.thead{
	width: 8rem;
}
a:hover{
	text-decoration: none;
}

@media (max-width: 576px) {
	nav h2{
		font-size: 1.4rem;
	}
}

#login{
	max-width: 330px;
}
